<?xml version="1.0"?>
<launch>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find map_builder)/config/rviz_config.rviz" />
  <node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="rqt_ez_publisher" args="--slider-file $(find map_builder)/config/manual_calibration_config.yaml" />
</launch>
